<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        ">

	<mvc:annotation-driven/> 
	<context:component-scan base-package="com.springproject.*" /> 
     <!--  View Resolver -->
     <bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/pages/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean> 
	<!-- <bean id="bookService" class="com.springproject.services.BookService">
		<property name="bookDao" ref="bookDao"></property>
	</bean> -->
	
	
	<bean id="dataSource"
     class="org.springframework.jdbc.datasource.DriverManagerDataSource">
       <property name="driverClassName" value="com.mysql.jdbc.Driver" />
       <property name="url" value="jdbc:mysql://localhost:3306/jpmc1" />
       <property name="username" value="root" />
       <property name="password" value="root" />
   </bean>
   
   <bean id="transactionManager"
     class="org.springframework.orm.jpa.JpaTransactionManager">
       <property name="entityManagerFactory" ref="myEmf" />
   </bean>
   <tx:annotation-driven transaction-manager="transactionManager" />
  <!--  <bean id="txManager" class="org.springframework.transaction.jta.JtaTransactionManager"/> -->
	
	<bean id="myEmf"
     class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
       <property name="dataSource" ref="dataSource" />
       <property name="packagesToScan" value="com.springproject.*" />
       <property name="jpaVendorAdapter">
           <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
       </property>
       <property name="jpaProperties">
          <props>
              <prop key="hibernate.hbm2ddl.auto">update</prop>
             <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
             <prop key="hibernate.show_sql">true</prop>
          </props>
       </property>
   </bean>
   
    <bean id="persistenceExceptionTranslationPostProcessor" class=
     "org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
     
     <mvc:resources mapping="/resources/**" location="/resources/"  
	cache-period="31556926"/>
</beans>